.center {
    margin:0 auto
}
#container {
    min-height: calc(100% - 50px);
    margin: 25px;
    mat-card {
        width: 500px;
        max-width: calc(100% - 32px);
        margin:  16px auto;
        box-sizing: border-box;
        mat-card-title {
            font-size: 16px;
        }
        mat-card-subtitle {
            color: red;
        }
    }
    #cc {
        height: 100px;
        margin: 0 auto;
        width: 50%;
    }
}